body {
  font-family: "Helvetica Neue";
  background-color: 2C3E50;
  color: CFCFCF;
}

a {
  color: inherit;
}

li > a {
  color: CFCFCF;
}

.container {
  padding-top: 20px;
}

#maintext {
  height: 100%;
  text-align: center;
}

#space {
  padding: 100px;
}

#enterSite {
  margin-top: 25px;
  background-color: 3498DB;
  font-size: 20px;
  box-shadow: 10px 10px 38px -6px rgba(0,0,0,0.24);
}

.navbar {
  display: inline-block;
  border: none;
  box-shadow: none;
  background-color: 3498DB;
  text-align: center;
  font-size: 17px;;
}

.centered {
  float: none;
  margin: 0 auto;
}
