body {
  background-color: 2C3E50;
  font-family: "Helvetica Neue", serif;
  font-style: Medium;

}

a {
  color: inherit;
}

#main {
  width: 100%;
  text-align: center;
}

#main > h1 {
  color: CFCFCF;
  text-size: 72px;
}

#navbar{
  height: 150px;
  background-color: 3498DB;
}

#navbaritems{

}

.navbar-nav > li {
  color: CFCFCF;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 30px;

}

.navigationformat{
  padding-left: 280px;
  background-color: 3498DB;
  padding-top: 90px;
}
